
* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    cursor: crosshair;
}

h1 {
    font-size: 2.5rem;
}

body {
background-color: #bfbfbf;
}


.formContainer{
    margin: 50px;
    text-align: center;
}

form{
    display: inline-block;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid black;
    font-size: 3rem;
    text-align: left;
}

/*.screen{*/
/*    border: 2px solid black;*/
/*    height: 100vh;*/
/*    !*position: relative;*!*/
/*    overflow: auto;*/
/*}*/

/*.navbar{*/
/*    border-right: 2px solid black;*/
/*    height: 100%;*/
/*    float: left;*/
/*    width: 80px;*/
/*    background-color:#ffffff;*/
/*}*/

/*.navbar .icons{*/
/*    text-align: center;*/
/*}*/




.canvas{
    height: 200px;
    width: 70%;
    margin: 0 auto;
    float: right;
    /*margin-left: 80px;*/
    border: 2px solid black;
    /*position: absolute;*/
    /*top: 50%;*/
    /*left: 50%;*/
    /*transform: translate(-50%, -50%);*/
}

.screen {
    display: flex;
}

.navbar{
    border-right: 2px solid black;
    height: 100%;
    float: left;
    width: 80px;
    background-color:#ffffff;
}

.icons {
    height: 100vh;
    text-align: center;
}


.icons img {
    width: 80%;
    height: auto;
    margin: 10px 0;
}

.canvas{
    height: 70vh;
    width: 70vw;
    margin: auto auto;
    border: 2px solid black;
}
